# build output
dist/
.lighthouseci/
# generated types
.astro/

# dependencies
node_modules/

# logs
*.log

# environment variables
.env
.env.production
.env*.local

# OS
.DS_Store

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
